.sideBar {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.listOfFriends {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}