
.navigation {
    background-color: rgb(155, 236, 247);
    grid-area: n;
    height: 300px;
  }

.list {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.item {
    margin-bottom: 5px;
}

.item a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.item a.active {
    color: rgb(99, 99, 99);
    font-size: 20px;
    font-weight: bold;
}

.item a:hover {
    color: rgb(99, 99, 99);
}
